@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.container{
    position: relative;
    text-align: center;
    top: 100px;
    height: 700px;
    width: 100%;
}
.hidden{
    display: none;
}
.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation:alternate;
}

#clock{
    font-family: 'Abril Fatface', cursive;
    position: absolute;
    right: 0px;
    top: 0%;
    margin: 10px;
    color: pink;
    font-size: 50px;
}
#weather{
    font-family: 'Cinzel', serif;
    position: absolute;
    right: 5px;
    top: 8%;
    color: pink;
    font-size: 20px;
}
#inputName{
    font-family: 'Righteous', cursive;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 60px;
    background-color: transparent;
    outline: none;
    border: none;
    color:pink;
    text-align: center;
}
#inputName::placeholder{
    color: pink;
}
#loginbtn{
    border: none;
    background-color: transparent;
    color: transparent;
}
#greeting{
    font-family: 'Righteous', cursive;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 70px;
    color: pink;
}
li{
    color: pink;
}
li::marker{
    color: transparent;
}
button{
    border: none;
    background-color: transparent;
}
#inputTodo{
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    width: 350px;
    color:pink;
    text-align: center;
}
#inputTodo::placeholder{
    font-size: 20px;
    color:pink;
}
#todo-list{
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 240px;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%,0%);
}
#quote{
    position: absolute;
    top: 700px;
    left: 25%;
    right: 25%;
    transform: translate(-50%,0%);
    font-family: 'Indie Flower', cursive;
    transform : rotate(0.04deg); 
    color: pink;
    font-weight: bolder;
    font-size: 20px;
}

